<!DOCTYPE html>
<html>
  <head>
    <title>Lazy Load Images</title>
    <link rel="stylesheet" href="examples.css">
  </head>
  <body>
    <h1>Lazy Load Images</h1>
    <section>
      <h2>
        Make your own <a href="https://github.com/luis-almeida/unveil">jquery.unveil</a>.
      </h2>
      <p>
        Sort of... A more thorough implementation could use <code>.visible</code>.
        For example, if images are staggered smaller than the amount you scroll,
        those images are skipped.
      </p>
      <p id="kitten-party"></p>

    </section>


    <style class="xray" contenteditable="true">
img {
  background: #ccc;
  margin: 1em 0;
}
    </style>
    <!-- use schema to support loading from file:// -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/template" id="protokitty">
      <img data-src="http://placekitten.com/<%= width %>/<%= height %>" width=<%= width %> height=<%= height %>
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII%3D">
    </script>
    <script>
      // kittens!
      var i, width, height,
          template = _.template($.trim(document.getElementById('protokitty').innerHTML));
      for (i = 0; i < 25; ++i) {
        width = _.random(100, 400);
        height = 100 + _.random(0, 4) * 50;
        $(template({width: width, height: height})).appendTo($('#kitten-party'));
      }
    </script>
    <script src="../src/xscrolly.js"></script>
    <script src="../src/jquery-wrapper.js"></script>
    <script class="xray">
$('img').xscrolly({
  offset: $(window).height() / 4,
  unveil: function($el) {
    // notice that $el can be multiple elements
    $el.prop('src', function(){
      return $(this).attr('data-src');
    });
  }
});
    </script>
  </body>
</html>

